* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.container {
  margin: auto; }

.app {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh; }

.loader {
  font-size: 2.4rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px; }

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: #444444;
  background-color: #ffffff; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border-bottom: 2px solid transparent; }

a:hover {
  color: rgba(0, 0, 0, 0.82);
  transition: all 150ms; }

.navbar {
  height: 9.6rem;
  background: white;
  margin-bottom: 2rem; }

.nav-items {
  height: 9.6rem;
  list-style: none;
  line-height: 9.6rem; }

.nav__title {
  font-size: 1.6rem;
  color: #FF6600;
  font-weight: 400; }

.post-list__header {
  padding: 1.6rem 0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.post {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: .8rem .4rem; }

.post:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

[class*='post__meta'] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem; }

.post__meta-score {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .8rem;
  min-width: 6.4rem;
  color: rgba(68, 68, 68, 0.67); }

.post__meta-title {
  width: 100%;
  padding-right: 3.2rem; }

.post__meta-timestamp {
  white-space: nowrap;
  padding: 0rem .8rem;
  min-width: 12rem;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: rgba(68, 68, 68, 0.67); }

.more {
  text-align: center;
  padding: 2rem 0rem 10rem; }

.more button {
  outline: none;
  background-color: transparent;
  border: 2px solid #444444;
  padding: .8rem 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer; }

.more button:hover {
  color: white;
  background: #444444; }
